extends ../layout/main-inner
include ../layout/mixins

block title
    | List page

block styles
    
block content
    .container
        br
        br
        br
        ul(style="font-size: 20px;")
            li
                a(href="home.html") Home 
            li
                a(href="authenticated-home.html") Authenticated home 
            li
                a(href="company-profile.html") Company Profile
            li
                a(href="search.html") Search
            li
                a(href="favorites.html") Favorites
            li  ---
            li 
                strong Add Custom Dial
            li
                a(href="add-custom-dial.html") Enter phone number 
            li
                a(href="add-custom-dial-option.html") Option
            li
                a(href="add-custom-dial-option-2.html") Option Save
            li
                a(href="add-custom-dial-save.html") Save Fast Dial
            li
                a(href="favorites-2.html") Favorites
            li ---
            li
                a(href="sign-up.html") Sign Up
            li
                a(href="sign-up-2.html") Sign Up 2
            li
                a(href="sign-up-3.html") Sign Up 3
            li
                a(href="rate-call-step-1.html") Rate Call (Step 1)
            li
                a(href="rate-call-step-2.html") Rate Call (Step 2)
            li
                a(href="rate-call-step-3.html") Rate Call (Step 3)
            li
                a(href="ui.html") UI 
        br
        br
        br
         
        
