/* Placeholders */
.modal {
  z-index: 110;
  position: fixed;
  width: 100%;
  padding: 0;
  background: #fff;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  overflow: auto;
}
.modal--gray {
  background-color: #EFEFEF;
}
.modal__container {
  max-width: 800px;
  margin: 0 auto;
}
.modal__header {
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  position: relative;
}
.modal__header-title {
  font-weight: 700;
  line-height: 1.24;
  font-size: 18px;
  color: #000;
  margin: 0;
}
.modal__header-btn {
  position: absolute;
  right: 20px;
  width: 24px;
  height: 24px;
  right: 20px;
  top: 50%;
  margin-top: -12px;
  cursor: pointer;
  border: none;
  background-color: none;
}
.modal__header-btn-svg {
  width: 24px;
  height: 24px;
}
.modal__content {
  padding: 20px;
}
.modal__fast-call-item {
  display: block;
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  color: #000;
  margin: 0 0 8px;
  background-color: #fff;
}
.modal__card-header {
  padding: 0 0 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
  margin: 0 0 20px;
}
.modal__card .favorites {
  position: absolute;
  right: 0;
  top: 0;
}
.modal__card-descr {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.52);
  margin: 0 0 8px;
}
.modal__card-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.24;
  color: #000;
}
.modal__card-lang {
  margin: 0 0 20px;
}
.modal__card-lang-label {
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: #000;
  margin: 0 0 12px;
  display: block;
}
.modal__card-buttons .btn {
  width: 100%;
  margin: 0 0 12px;
}