/* Placeholders */
.recent-calls {
  padding: 0 0 16px;
}
.recent-calls__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.24;
  color: #000;
  margin: 0 0 16px;
}
.recent-calls__card {
  background-color: #fff;
  margin: 0 0 8px;
  padding: 20px;
}
.recent-calls__card-header {
  position: relative;
  padding: 0 26px 12px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.recent-calls__card-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  padding: 2px 0;
  color: #000;
}
.recent-calls__card-date {
  font-size: 12px;
  font-weight: 400;
  display: block;
  line-height: 1.24;
  padding-top: 2px;
  color: rgba(0, 0, 0, 0.52);
}
.recent-calls__card .options-box,
.recent-calls__card .favorites {
  position: absolute;
  right: 0;
  top: 0;
  flex-shrink: 0;
}
.recent-calls__card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
}
.recent-calls__card-section {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.24;
  color: #000;
}
.recent-calls__card-lang {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.recent-calls__card-lang-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-color: #EFEFEF;
  border-radius: 50%;
  margin-right: 8px;
}
.recent-calls__card-lang-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.recent-calls__card-lang-label {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.24;
  color: #000;
}
.recent-calls__card-phone {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 12px 0 0;
  width: 100%;
}
.recent-calls__card-phone-box {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  font-weight: 600;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0 8px;
}
.recent-calls__card-phone-item {
  margin-left: 4px;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  background-color: #EFEFEF;
  font-size: 12px;
  font-weight: 600;
  color: #000;
}