/* Placeholders */
.select {
  position: relative;
}
.select__icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -12px;
}
.select__box {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 40px 0 12px;
  margin: 0;
  position: relative;
  width: 100%;
  cursor: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: inherit;
  color: #000;
  height: 48px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}