@import '../common/colors', '../common/mixins';

.subheader {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $c-white;
    padding: 18px 20px;
    border-bottom: 1px solid rgba($c-black, 0.12);
    position: relative;
    max-width: 800px;
    margin: 0 auto;

    &-title {
        margin: 0 0 10px;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.24;
        color: $c-black;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        cursor: pointer;
        position: absolute;
        left: 20px;
        top: 50%;
        margin-top: -12px;

        &-icon {
            width: 24px;
            height: 24px;
        }
    }
}