$c-black: #000;
$c-white: #fff;
$c-smoke: #EFEFEF;
$c-gainsboro: #D9D9D9;

// delete styles
// delete colors
// delete tmpl
// delete js
// delete in svg sprite
// delete in import.css

$anim: 0.2s ease;

