include ../layout/mixins

footer.footer
    nav.footer__navi
        ul.footer__navi-list
            li.footer__navi-item.footer__navi-item--active
                a.footer__navi-link(href="")
                    svg.footer__navi-icon
                        use(href="../../assets/img/sprite.svg#home")
                    span.footer__navi-label Home
            li.footer__navi-item
                a.footer__navi-link(href="")
                    svg.footer__navi-icon
                        use(href="../../assets/img/sprite.svg#search")
                    span.footer__navi-label Search
            li.footer__navi-item
                a.footer__navi-link(href="")
                    svg.footer__navi-icon
                        use(href="../../assets/img/sprite.svg#favorites")
                    span.footer__navi-label Favorites
            li.footer__navi-item
                a.footer__navi-link(href="")
                    svg.footer__navi-icon
                        use(href="../../assets/img/sprite.svg#profile")
                    span.footer__navi-label Profile

    button.footer__btn(type="button")
        svg.footer__btn-icon
            use(href="../../assets/img/sprite.svg#plus")
