/* Placeholders */
.footer {
  position: relative;
  flex-shrink: 0;
  background: #fff;
  padding: 0 0 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  z-index: 100;
}
.footer__navi {
  max-width: 800px;
  margin: 0 auto;
}
.footer__navi-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__navi-item {
  position: relative;
}
.footer__navi-item:nth-child(2) {
  margin-right: 20px;
}
.footer__navi-item:nth-child(3) {
  margin-left: 20px;
}
.footer__navi-icon {
  width: 24px;
  height: 24px;
  display: block;
  margin: 0 auto;
}
.footer__navi-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.52;
  color: #000;
  font-weight: 400;
  min-width: 70px;
  margin: 0 5px;
  padding: 20px 5px 0;
}
.footer__navi-label {
  display: block;
  text-align: center;
  padding: 5px;
}
.footer__navi-item--active .footer__navi-link {
  opacity: 1;
  font-weight: 600;
}
.footer__navi-item--active .footer__navi-icon {
  fill: #EFEFEF;
}
.footer__navi-item--active .footer__navi-label::before {
  content: "";
  position: absolute;
  top: -44px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #000;
}
.footer__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  background-color: #000;
  left: 50%;
  top: -26px;
  margin-left: -26px;
  cursor: pointer;
}
.footer__btn-icon {
  width: 24px;
  height: 24px;
}